<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>500</span></div>
                <span class="inner-status">Opps! Internal Server Error!</span>
                <span class="inner-detail">Unfortunately we're having trouble loading the page you are looking for.
                    Please come back in a while.</span>
                <!--END CONTENT-->
                <div class="row mt-5">
                    <div class="col-12 text-center mt-xl-2">
                        <a routerLink="/admin">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>